/* body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}
.footer {
  background: #c7e7dd;
  color: white;
  text-align: center;
  padding: 15px;
}
.auth-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
} */
body {
  color: #555;
}

a {
  color: #1a202c;
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #333;
}
