.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a936f;
  padding: 10px 20px;
  color: white;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
}
